@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Raleway:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bungee+Spice&family=Space+Mono&display=swap');

body {
  background-color: lightgray;
}

h1 {
  font-family: 'Bad Script', cursive;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Bad Script', cursive;
  font: bold;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
}

span {
  font-family:'Bad Script', cursive;
  font-weight: bold;
}

.navbar-brand, h3 {
  font-family: 'Bad Script', cursive;
  font-size: 30px;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#outputDiv {
  display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  margin: auto;
  /* text-align: center; */
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}